.body_servicios{

	.carousel{
		width: 70%;
		margin-bottom: 5%;
	}

	.card__servicios{
			margin-top: 17%;
	    	margin-right: 30%;
	    	margin-left: 9%;
	}

	.accordion-button{
		color: white;
	}

	.accordion-button:focus{
		border-color: #0D713E;
		box-shadow: #0D713E;
	}

	.accordion-body{
		color: white;
	}

	.accordion-button:not(.collapsed) {
		background-color: transparent !important;
	}



}