body {
    margin-right: 0;
    @media (min-width: 300px) {
        .playlist {
            width: 90%;
            display: block;

            .list-group{
                width: 100%;
                margin-right:0;
                margin-left: 5.5%;
                margin-bottom: 5%;
                margin-top: 3%;

                .list-group-item-mio{
                    background-color:black;
                    h5{
                        color: white;
                    }
                    img{
                        height: 80px;
                        weight: 80px;
                    }
                    .descripcion{
                        font-size: 90%;
                         margin-left: 10px;
                    }
                    
                }
               
            }
            
        }

        .licencia {
            text-align: center;
            padding: 0%;
            position: relative;
            height: 15%;

            margin: 0;

            .licencia__tarjeta {
                color: white;
                overflow: hidden;
                border: solid 2px white;
                background-color: black;
                /*background-image: url("../assets/gif/estrellas2.gif");*/
                padding: 1%;
                margin: 1%;
                margin-top: 5%;
                display: inline-block;
                width: 90%;
                height: 150%;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

                ul{
                    padding-top: 3%;
                    li{
                    background-color:black;
                    padding-bottom: 9%;
                    }
                }
                h3{
                    padding-top:1%;
                    padding-bottom: 0;
                }
            }
        }


    }

    @media (min-width: 767px) {
        .playlist {
            width: 90%;
            display: block;

            .list-group{

                margin-right:10%;
                margin-left: 5%;
                margin-bottom: 5%;
                margin-top: 3%;

                .list-group-item-mio{
                    background-color:black;
                    h5{
                        color: white;
                    }
                    img{
                        height: 80px;
                        weight: 80px;
                    }
                    .descripcion{
                        font-size: 110%;
                         margin-left: 10px;
                    }
                    
                }
            
            }
            
        }

        .licencia {
            text-align: center;
            padding: 0%;
            position: relative;
            height: 15%;
            margin: 0;

            .licencia__tarjeta {
                color: white;
                overflow: hidden;
                border: solid 2px white;
                background-color: black;
                /*background-image: url("../assets/gif/estrellas2.gif");*/
                padding: 1%;
                margin: 1%;
                margin-top: 5%;
                display: inline-block;
                width: 27%;
                height: 58vw;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

                ul{
                    padding-top: 3%;
                    li{
                    background-color:black;
                    padding-bottom: 9%;
                    }
                }
                h3{
                    padding-top:1%;
                    padding-bottom: 0;
                }
            }
        }


    }



    @media (min-width: 1100px) {

        .playlist {
            width: 80%;
            display: block;

            .list-group{
                padding:0;
                margin-right:10%;
                margin-left: 10%;
                margin-bottom: 5%;
                margin-top: 3%;

                .list-group-item-mio{
                    background-color:black;
                    h5{
                        color: white;
                    }
                    img{
                        height: 80px;
                        weight: 80px;
                    }
                    .descripcion{
                        font-size: 110%;
                         margin-left: 10px;
                    }
                    
                }
                .list-group-item-mio:hover{
                    background-color: #1d1d1d;
                    small{
                        color: white;

                    }
                }
            }
        }

        .licencia {
            text-align: center;
            padding: 0%;
            position: relative;
            height: 20%;
            margin: 0;

            .licencia__tarjeta {
                color: white;
                overflow: hidden;
                border: solid 2px white;
                background-color: black;
                /*background-image: url("../assets/gif/estrellas2.gif");*/
                padding: 1%;
                margin: 2%;
                margin-top: 5%;
                display: inline-block;
                width: 25%;
                height: 90%;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
                ul{
                    padding-top: 3%;
                    li{
                    background-color:black;
                    padding-bottom: 9%;
                    }
                }
                h3{
                    padding-top:1%;
                    padding-bottom: 0;
                }
            }
        }



        .licencia__tarjeta:hover {
            border: solid 2px yellow;
            transition: 0.5s;
        }

        .licencia__tarjeta h3 {
            text-align: center;
            padding-bottom: 5%;
        }
    }

}